@import "~bootstrap/scss/bootstrap";

.black-card {
    background-color: black;
    color: white;
}

.player-card-active {
    background-color: $info
}

.player-card :hover {
    background-color: $light
}